<div class="container-fuild home-page" style="background-image: url('./img/exp1.jpg');">
    <div class="welcome">
        <h1>Welcome to Restaurant !!!</h1>
        <a class="btn btn-primary mt-5" href="/register">register</a>
        {{#if session}}
            <p class="notify">
                Thank you for the information!!! 
            </p>
        {{/if}}
    </div>
</div>