.form-regist,.home-page{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.welcome{
    width: 700px;
    height: 400px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(30deg) translate(-60%, -5%) scale(0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.notify{
    padding: 30px;
    color: lightsalmon;
    font-size: 30px;
}
